/*color variables*/
:root {
  --main-red: red;
  --main-blue: blue;
  --main-gray: #3A405A;
  --main-gray-dark: #0F1A20;
  --main-orange: #FF5714;
  --main-green: #A1C181;
  --main-white: #FFF;
  --main-bg: #DBDBDB;
  --main-black: #000;

  --wrapper-height: 65vh;
  --wrapper-bg-white-height: 35vh;
}

/*Principle element*/
body {
}

a {
  color: var(--main-gray-dark);
}

a:hover {
  text-decoration: none;
  color: var(--main-orange);
}

/*btn-calendar*/
.btn-circle {
  height: 50px;
  width: 50px;
  background-color: var(--main-orange);
  border-radius: 50%;
  color: var(--main-white);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-circle a {
  color: var(--main-white);
}

.btn-circle:hover {
  border: 1px solid var(--main-orange);
  background-color: var(--main-white);
}

.btn-circle a:hover, i:hover {
  color: var(--main-orange);

}

.btn-video {
  bottom: 20px;
  right: 140px;

}.btn-phone {
  bottom: 20px;
  right: 100px;
}

.btn-mail {
  bottom: 20px;
  right: 60px;
}

.btn-calendar {
  bottom: 20px;
  right: 20px;
}

.btn-camera {
  position: absolute;
  bottom: 10px;

}

.wrapper-video {
  height:var(--wrapper-height);
  width: 100%;
  background-color: var(--main-black);
  text-align: center
}


/*item-head*/
.wrapper {
  height: var(--wrapper-height);
  width: 100%;
  display: flex;
  background-size: cover !important;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: var(--main-white);
  position:relative;
  text-align: center;
  /*padding: 10px;*/
  background-color: var(--main-bg)
}

.wrapper-bg-white {
  min-height: var(--wrapper-bg-white-height);
  color: var(--main-gray-dark);
  background-color: var(--main-white);
  flex-direction: column;
}

.height-pictures-carousel {
  height: var(--wrapper-height);
  /*justify-content: center;*/
}



.div-item {
  background-color: var(--main-white);
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
