/*color variables*/
:root {
  --main-red: red;
  --main-blue: blue;
  --main-gray: #3A405A;
  --main-gray-dark: #0F1A20;
  --main-orange: #FF5714;
  --main-green: #A1C181;
  --main-white: #FFF8E8;
}

/*Principle element*/
body {
}

a {
  color: var(--main-gray-dark);
}

a:hover {
  text-decoration: none;
  color: var(--main-orange);
}

/*btn-calendar*/
.btn-circle {
  height: 50px;
  width: 50px;
  background-color: var(--main-orange);
  border-radius: 50%;
  color: var(--main-white);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-circle a {
  color: var(--main-white);
}

.btn-circle:hover {
  border: 1px solid var(--main-orange);
  background-color: var(--main-white);
}

.btn-circle a:hover, i:hover {
  color: var(--main-orange);

}

.btn-phone {
  bottom: 20px;
  right: 100px;
}

.btn-mail {
  bottom: 20px;
  right: 60px;
}

.btn-calendar {
  bottom: 20px;
  right: 20px;
}


/*item-head*/
.wrapper {
  height: 50vh;
  display: flex;
  background-size: cover !important;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: var(--main-white);
  position:relative;
  text-align: center;
  padding: 10px;
}

.wrapper-bg-white {
  color: var(--main-gray-dark);
}

.wrapper-detail {
  position: absolute;
  bottom: 10px;
}


/*Title div*/
.title-div {
  color: var(--main-orange);
}

.div-item {
  background-color: var(--main-white);
}
